<div class="row" style="justify-content: center;">
    <form [formGroup]="regisForm" class="col-4" (ngSubmit)="register()">
        <div class="mb-3 mt-3">
          <label for="email" class="form-label">User:</label>
          <input type="text" class="form-control" id="user_name" placeholder="Enter username" formControlName="user_name" name="user_name">
        </div>
        <div class="mb-3">
          <label for="pwd" class="form-label">Password:</label>
          <input type="password" class="form-control" id="pass" placeholder="Enter password" formControlName="pass" name="pass">
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Full name:</label>
            <input type="text" class="form-control" id="pass" placeholder="Enter full name" formControlName="name" name="name">
          </div>
          <input type="hidden" name="" id="" value="0">
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
</div>